<a href="https://colab.research.google.com/github/ujin2021/tensorflow-Tutorial/blob/master/boston.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 독립변수
* CRIM : 범죄율 
* CHAS : 찰스강변에 위치
* RM : 평균 방 수
* AGE : 노후 주택 비율
* TZX : 재산세 세율
* PTRATIO : 학생/교사 비율
* LSTAT : 하위계층 비율

#### 종속변수
* MEDV : 집값(중앙값)

In [2]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [5]:
# 1. 과거의 데이터 준비
path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(path)
print(boston.columns)
boston.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [8]:
idp = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
dp = boston[['medv']]
print(idp.shape, dp.shape) # 꼭 shape 확인하기

(506, 13) (506, 1)

In [10]:
# 2. 모델의 구조 만들기
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [21]:
# 3. 데이터로 모델을 학습(FIT)
model.fit(idp, dp, epochs=10000, verbose=0)
model.fit(idp, dp, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 23.2214
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 23.2832
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 23.6811
Epoch 4/10
16/16 [==============================] - 0s 1000us/step - loss: 23.3034
Epoch 5/10
16/16 [==============================] - 0s 983us/step - loss: 23.2686
Epoch 6/10
16/16 [==============================] - 0s 975us/step - loss: 22.9185
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 23.1347
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 22.7057
Epoch 9/10
16/16 [==============================] - 0s 2ms/step - loss: 22.9851
Epoch 10/10
16/16 [==============================] - 0s 924us/step - loss: 23.3915

In [22]:
# 4. 모델을 이용하기
model.predict(idp[0:5]) # 학습시킨 model을 가지고 medv를 예측한 값

array([[28.974766],
       [23.925602],
       [30.206131],
       [28.669956],
       [28.212587]], dtype=float32)

In [23]:
dp[5:10] # 실제 medv값

   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [24]:
# model의 수식 확인
model.get_weights()

[array([[-0.10186839],
        [ 0.04956112],
        [-0.00869473],
        [ 2.6273742 ],
        [-6.840281  ],
        [ 4.898389  ],
        [-0.00747621],
        [-1.1831682 ],
        [ 0.2244509 ],
        [-0.01230498],
        [-0.6336051 ],
        [ 0.01144971],
        [-0.47978133]], dtype=float32), array([15.860065], dtype=float32)]

집값 = -0.10186839 * x1 + 0.04956112 \* x2 + -0.00869473 \* x3 + 2.6273742 * x4 + -6.840281 * x5 + 4.898389 * x6 + -0.00747621 * x7 + -1.1831682 * x8 + 0.2244509 * x9 + -0.01230498 * x10 + -0.6336051 * x11 + 0.01144971 * x12 + -0.47978133 * x13