<a href="https://colab.research.google.com/github/ujin2021/tensorflow-Tutorial/blob/master/data_tips.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 데이터 타입 조정
* 변수(column) type 확인 : data.dtypes
* 변수를 범주형으로 변경
  * data['컬럼명'].astype('category')
* 변수를 수치형으로 변경
  * data['컬럼명'].astype('int')
  * data['컬럼명'].astype('float')
* NA 값의 처리
   * NA 갯수 체크 : data.isna().sum()
   * 최소 값 채우기 : data['컬럼명'].fillna(특정숫자)

In [1]:
import pandas as pd

In [3]:
path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris2.csv'
iris = pd.read_csv(path)
iris.head() # 품종1은 0, 2는 1, 3은2 로 표시(범주형 데이터)

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [4]:
# one hot encoding
encoding = pd.get_dummies(iris)
encoding.head() # one hot encoding이 안됨(숫자로 되어있으므로 범주형이라고 인식을 못함)

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [8]:
print(iris.dtypes) # 각 column의 data type을 알 수 있다

꽃잎길이     float64
꽃잎폭      float64
꽃받침길이    float64
꽃받침폭     float64
품종         int64
dtype: object

In [10]:
# 품종 타임을 범주형으로 바꾸어 준다
iris['품종'] = iris['품종'].astype('category')
print(iris.dtypes) # 품종의 type이 category로 변경됨

꽃잎길이      float64
꽃잎폭       float64
꽃받침길이     float64
꽃받침폭      float64
품종       category
dtype: object

In [12]:
# one hot encoding
encoding = pd.get_dummies(iris)
encoding.head() # one hot encoding가능(type이 category이므로)

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_0  품종_1  품종_2
0   5.1  3.5    1.4   0.2     1     0     0
1   4.9  3.0    1.4   0.2     1     0     0
2   4.7  3.2    1.3   0.2     1     0     0
3   4.6  3.1    1.5   0.2     1     0     0
4   5.0  3.6    1.4   0.2     1     0     0

In [13]:
# NA값 체크하기
iris.isna().sum()

꽃잎길이     0
꽃잎폭      1
꽃받침길이    0
꽃받침폭     0
품종       0
dtype: int64

In [15]:
iris.tail() # 마지막에 NaN값을 넣어두었다(빈값)
# NaN값을 가진 행을 없애거나 다른 값을 넣는다

     꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭 품종
145   6.7  3.0    5.2   2.3  2
146   6.3  2.5    5.0   1.9  2
147   6.5  3.0    5.2   2.0  2
148   6.2  3.4    5.4   2.3  2
149   5.9  NaN    5.1   1.8  2

In [19]:
# NA값에 꽃이폭 평균값을 넣어주는 방법
mean = iris['꽃잎폭'].mean()
iris['꽃잎폭'] = iris['꽃잎폭'].fillna(mean) # Na값에 mean 값 넣어준다
iris.tail()

     꽃잎길이       꽃잎폭  꽃받침길이  꽃받침폭 품종
145   6.7  3.000000    5.2   2.3  2
146   6.3  2.500000    5.0   1.9  2
147   6.5  3.000000    5.2   2.0  2
148   6.2  3.400000    5.4   2.3  2
149   5.9  3.054362    5.1   1.8  2