<a href="https://colab.research.google.com/github/ujin2021/tensorflow-Tutorial/blob/master/pandas_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



*   파일 읽어오기 : pd.read_csv('파일경로')
*   모양 확인하기 : print(데이터.shape)
*   column 선택하기 : 데이터[['column1', 'column2', 'column3']]
*   column 이름 출력하기 : print(데이터.colums)
*   맨위 5개 관측치 출력하기 : 데이터.head()

sample data(csv) : https://github.com/blackdew/tensorflow1/tree/master/csv

In [ ]:
import pandas as pd

In [ ]:
# 파일들로부터 데이터 읽어오기
lemonade_file_path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
lemonade = pd.read_csv(lemonade_file_path)

boston_file_path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(boston_file_path)

iris_file_path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
iris = pd.read_csv(iris_file_path)

In [ ]:
# 데이터 모양으로 확인하기
print(lemonade.shape) # row : 6(맨위 row는 제외), column : 2
print(boston.shape)
print(iris.shape)

(6, 2)
(506, 14)
(150, 5)

In [ ]:
# column 이름 출력
print(lemonade.columns)
print(boston.columns)
print(iris.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')

In [ ]:
lemonade_idp = lemonade[['온도']] # 독립변수(independent)
lemonade_dp = lemonade[['판매량']] # 종속변수(dependent)
print(lemonade_idp.shape, lemonade_dp.shape) # (6, 1) (6, 1) 한컬럼 당 6개의 data

boston_idp = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
boston_dp = boston[['medv']]
print(boston_idp.shape, boston_dp.shape)

iris_idp = iris[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
iris_dp = iris[['품종']]
print(iris_idp.shape, iris_dp.shape)

(6, 1) (6, 1)
(506, 13) (506, 1)
(150, 4) (150, 1)

In [ ]:
# 대략적 데이터 출력(상위 5개)
lemonade.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [ ]:
boston.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
iris.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa
2   4.7  3.2    1.3   0.2  setosa
3   4.6  3.1    1.5   0.2  setosa
4   5.0  3.6    1.4   0.2  setosa